name: integration test
discover: find cypress/e2e -name "*.cy.ts" -type f
run: |
  SPECS="$(echo << test.atoms >> | tr ' ' ',')"
  cypress run --config-file cypress.integration.config.ts --spec "$SPECS"
analysis: |
  SPECS="$(echo << test.atoms >> | tr ' ' ',')"
  CIRCLECI_COVERAGE=<<outputs.circleci-coverage>> cypress run  --config-file cypress.integration.config.ts --spec "$SPECS"
outputs:
  circleci-coverage: coverage.json
options:
  test-impact-analysis: true
